# limit_current daemon
type limit_current, domain;
type limit_current_exec, exec_type, file_type;

# Started by init
init_daemon_domain(limit_current)
