on post-fs
    mkdir /data/misc/bluedroid 0770 bluetooth bluetooth
    mkdir /data/misc/wifi 0770 wifi wifi
    start mac_nvme

service mac_nvme /vendor/bin/hw/mac_nvme
    user root
    group bluetooth system wifi
    oneshot
    disabled
