on early-init

    write /sys/block/mmcblk0/queue/scheduler noop
    write /sys/block/mmcblk0/bdi/read_ahead_kb 512

on boot
    # Update foreground and background cpusets
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 4-7
    write /dev/cpuset/top-app/cpus 0-7

on enable-low-power
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    restorecon_recursive /sys/devices/system/cpu/cpu0/cpufreq/interactive
    chown system  system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chown system  system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chown system  system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_min_interval
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_min_interval
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack

    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chown system  system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse
    chown system  system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chown system  system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_min_interval
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_min_interval
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack

    # bring all CPUs online
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

on class_start:late_start
    trigger enable-low-power

on property:init.svc.recovery=running
    trigger enable-low-power

on charger
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"

on property:dev.bootcomplete=1
    trigger enable-low-power

    write /sys/kernel/hmp/boost 0
    rm /data/hisi_logs/reboot_times.log

    write /sys/block/mmcblk0/queue/scheduler row
    setprop sys.usb.ffs_hdb.ready 0

    # Update foreground and background cpusets
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 4-7
    write /dev/cpuset/top-app/cpus 0-3
    
on property:sys.boot_completed=1
    setprop persist.sys.smart_power ${persist.sys.smart_power}
    
on property:persist.sys.smart_power=2
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 95
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 1306000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads 70:807000:80:1018000:90:1306000:95
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 1209600
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads 80:807000:81:1210000:85:1517000:95
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 39000:1210000:89000:1517000:19000
    write /sys/kernel/set_hmp_thresholds/enable 0
    write /sys/kernel/hmp/up_threshold 700
    write /sys/kernel/hmp/down_threshold 384
    write /sys/kernel/hmp/task_fork_on_bigcluster 1
    write /sys/kernel/set_hmp_thresholds/enable 1
    write /dev/cpuctl/top_visible/cpu.nice_to_rt_promotion 0

on property:persist.sys.smart_power=3
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 1517000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads 70:1306000:80:1517000:90:1805000:95
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 1517000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads 80:807000:81:1210000:85:1517000:95
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 39000:1517000:89000:1805000:19000
    write /sys/kernel/set_hmp_thresholds/enable 0
    write /sys/kernel/hmp/up_threshold 665
    write /sys/kernel/hmp/down_threshold 256
    write /sys/kernel/hmp/task_fork_on_bigcluster 1
    write /sys/kernel/set_hmp_thresholds/enable 1
    write /dev/cpuctl/top_visible/cpu.nice_to_rt_promotion 0

on property:persist.sys.smart_power=4
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 99
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 1306000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads 70:807000:80:1018000:90:1306000:95
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 99
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 1209600
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads 80:807000:81:1210000:85:1517000:95
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 39000:1210000:89000:1517000:19000
    write /sys/kernel/set_hmp_thresholds/enable 0
    write /sys/kernel/hmp/up_threshold 1008
    write /sys/kernel/hmp/down_threshold 768
    write /sys/kernel/hmp/task_fork_on_bigcluster 0
    write /sys/kernel/set_hmp_thresholds/enable 1
    write /dev/cpuctl/top_visible/cpu.nice_to_rt_promotion 0
