on post-fs-data
    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

    mkdir /data/vendor/gnss 0770 system system
    
    mkdir /data/vendor/tombstones 0771 system system
    mkdir /data/vendor/media 0770 mediacodec media
    mkdir /data/vendor/misc 01771 system system
    mkdir /data/vendor/bluetooth 0770 bluetooth bluetooth
    mkdir /data/vendor/bluedroid 0771 bluetooth bluetooth
    mkdir /data/vendor/audio 0770 audio audio
    mkdir /data/vendor/audio/ 0770 media audio
    
service octty /vendor/bin/octty
    class core
    user system
    group system bluetooth root media
    disabled

service oam_hisi /vendor/bin/oam_hisi
    class main
    user system
    group system root wifi bluetooth
    oneshot
    disabled
    
service hisi_bfg /vendor/bin/start_connectivity_hisi
    class late_start
    user root
    group system
    oneshot
    
on property:setup_hi110x_modules=success
    start octty
    start oam_hisi
    start hsgnss
    start agnsscontrol
    start supl20clientd
    start watchlssd
    write /dev/kmsg "hi110x_modules has started"
    
service hsgnss /vendor/bin/gnss_engine_hisi -normal
    class main
    user gps
    group system inet root wakelock
    disabled

service agnsscontrol /vendor/bin/gnss_control_hisi -normal
    class main
    user gps
    group system inet root wakelock
    disabled

service supl20clientd /vendor/bin/gnss_supl20clientd_hisi
    class main
    user system
    group system inet
    disabled

service watchlssd /vendor/xbin/gnss_watchlssd_thirdparty
    class main
    user gps
    group system inet net_raw wakelock
    disabled
    
on property:bluetooth.log.file.create=true
   mkdir /data/log/bt
   chown bluetooth bluetooth /data/log/bt
   chmod 775 /data/log/bt
   setprop bluetooth.log.file.create false
   chown bluetooth bluetooth /dev/hwbt
