import /vendor/etc/init/hw/init.hi3650.usb.rc

on early-init
    restorecon /postinstall
    write /proc/1/oom_score_adj -1000
    write /proc/sys/kernel/sysrq 0
    restorecon /adb_keys
    mkdir /mnt 0775 root system
    start ueventd

on init
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard
    sysclktz 0

    copy /proc/cmdline /dev/urandom
    copy /default.prop /dev/urandom
    symlink /system/etc /etc
    symlink /sys/kernel/debug /d

    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/vm/max_map_count 1000000
    symlink /system/vendor /vendor
    chown system system /dev/cpuctl
    chown system system /dev/cpuctl/tasks

    write /sys/module/hisi_nve/parameters/nve /dev/block/bootdevice/by-name/nvme
    wait /dev/nve0
    chmod 0640 /dev/nve0
    chown root system /dev/nve0

    chown system system /sys/class/devfreq/ddrfreq/max_freq
    chmod 664 /sys/class/devfreq/ddrfreq/max_freq
    chown system system /sys/class/devfreq/ddrfreq/min_freq
    chmod 664 /sys/class/devfreq/ddrfreq/min_freq
    
on boot
    chown system system /sys/devices/platform/ff200000.hisi_usb/plugusb
    chmod 0660 /sys/devices/platform/ff200000.hisi_usb/plugusb

service charger /vendor/bin/hw_charger -p
    override
    class charger
    user root
    group root system shell graphics input wakelock
    capabilities SYS_BOOT
    seclabel u:r:charger:s0

on property:vold.decrypt=trigger_default_encryption
    start defaultcrypto

on nonencrypted
    trigger data_ready

on data_ready
    setprop sys.userdata_is_ready 1

on post-fs-data
    setprop vold.post_fs_data_done 1

on property:vold.decrypt=trigger_restart_framework
    trigger data_ready

on property:vold.decrypt=trigger_post_fs_data
    trigger post-fs-data

service defaultcrypto /system/bin/vdc --wait cryptfs mountdefaultencrypted
    disabled
    oneshot

service atcmdserver  /vendor/bin/atcmdserver
    disabled
    
on charger
    mount_all /vendor/etc/fstab.hi3650
    start vold
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    restorecon_recursive /sys/devices/system/cpu/cpu0/cpufreq/interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 807000
    chown system  system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chmod 0660 /sys/class/hw_power/charger/charge_data/iin_thermal
    chown system system /sys/class/hw_power/charger/charge_data/iin_thermal
    chmod 0660 /sys/class/hw_power/charger/charge_data/iin_thermal_aux
    chown system system /sys/class/hw_power/charger/charge_data/iin_thermal_aux
    chmod 0660 /sys/class/hw_power/charger/charge_data/limit_charging
    chown system system /sys/class/hw_power/charger/charge_data/limit_charging
    chown system system /sys/class/android_usb/android0/switch_request
    chmod 0664 /sys/class/android_usb/android0/switch_request
    
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor powersave
    write /sys/kernel/set_hmp_thresholds/enable 0
    write /sys/kernel/hmp/up_threshold 1024
    write /sys/kernel/hmp/down_threshold 1023
    write /sys/class/devfreq/ddrfreq/max_freq 533000000
    write /sys/class/devfreq/ddrfreq/min_freq 533000000
    write /sys/class/devfreq/ddrfreq/min_freq 0
    write /sys/class/devfreq/ddrfreq/max_freq 0

    write /sys/class/devfreq/ddrfreq_up_threshold/max_freq 1333000000
    write /sys/class/devfreq/ddrfreq_up_threshold/min_freq 1333000000

    start atcmdserver
    class_start charger
